html{ 
	overflow-y: scroll; 
	}

body{
	background: black;
	 color:black  
	 font-family: arial, Helvetica, sans-serif; 
	 
	 line-height: 1.2;
}

header { 
	color: #dddddd; 
	margin-top:0px;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center; 
	font-family: 'Rosario', 
	sans-serif; 	
}

.wrapper{
	float:center;

}


a { color: #FFA500;; text-decoration: none; font-weight: bold; }

h1 { font-size: 40pt; margin-left: auto;  margin-top: 20px;}
#navbar { height: 50px; margin-left:auto;margin-right:auto;list-style-type: none; 
		padding: 0px 0px 0px 0px;  }

.navlink{height: 50px; width: 130px; float: left; padding-top: 20px; text-align: center;}

#container { background: #1f1f22; margin:40px auto auto auto; width: 850px; 
			min-height: 10px; border: 1px solid rgba(0, 0, 0, 0.7); border-radius: 6px; 
			-webkit-border-radius: 6px; -moz-border-radius: 6px; 
			box-shadow: 0 0 1px rgba(160, 160, 200, 0.3) inset; 
			-webkit-box-shadow: 0 0 1px rgba(160, 160, 200, 0.3) inset; 
			-moz-box-shadow: 0 0 1px rgba(160, 160, 200, 0.3) inset; }
#img{

	margin-top: 20px;
	margin-left: 200px;
	margin-right:200px;
	height: 500px;
	width: auto;
	text-align: center;
}

#detail{
	width: 800px; height: 250px;  margin-right:auto; color:#dddddd;
	margin-top: 60px;
}

#detail p{font-size: 20pt;}

.navlink2{height: 50px;  padding-top: 20px; text-align:center}

.navlink2 a{
color: #CCEEFF;
font-size: 20px;

}

strong{color:#5e7b86}

/* styling for the image wrapper  */
#image_wrap {
    /* dimensions */
    width:700px;
    padding:15px 0;
 
    /* centered */
    text-align:center;
 
    /* some "skinning" */
    background-color:#efefef;
    border:2px solid #fff;
    outline:1px solid #ddd;
    -moz-ouline-radius:4px;
}

.link a{
color:#FFA500;
font-size:20px
}

iframe.pos{
margin-left: 100px; 
}

#sidel{float: left;};
#sider{float: right; };

div.transbox
  {
  width:400px;
  height:180px;
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }

.wrapper{
margin-left:150px;
margin-right:100px;
}

.wrapper p{
 font-size: 20px;
 color: #dddddd;
 margin-left:20px;
 font-family:'Rosario',sans-serif;
}

img{
margin-right:20px;
}

#hoverDiv{
	padding:0;
	display: inline-block;
	
	
}

#proof{
 font-family: "Lucida Console", Monaco, monospace;
 font-size:20px; 
 color:white;
 
}



